<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<true/>
	<key>destination</key>
	<string>export</string>
	<key>method</key>
	<string>development</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>tech.brainco.focuscalm</key>
		<string>develop_calm</string>
	</dict>
	<key>signingCertificate</key>
	<string>C8C7EA00D295DCD1B9DDF04A30FC82D8F0EC8E54</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>TG5E95RU8K</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
