<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<false/>
	<key>destination</key>
	<string>export</string>
	<key>method</key>
	<string>ad-hoc</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>tech.brainco.focusimprove</key>
		<string>improve_adhoc</string>
	</dict>
	<key>signingCertificate</key>
	<string>063CC56D70176885434124FEFDF26C5745767C80</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>TG5E95RU8K</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
